.title-text {
    color: #FF2E63;
}

.title-text-secondary {
    color: #EAEAEA;
}

.title-text-col {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-col {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alt-head {
    text-align: right;
}

.info-text {
    font-size: large;
}